
.nav{
    margin: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.nav li{
    display: inline;
}

.nav-title{
    margin: 1% 2%;
    font-size: 36px;
    font-weight: bold;
}
.nav-item{
    cursor: pointer;
    margin: 0 20px
}

.login-btn{
    color: black;
    /* margin-left:50px; */
    padding:5px 10px;
    background-color: #9df3f0;
    border-radius: 2px;
    font-weight: 400;
}

.login-btn:hover{
    /* background-color: #; */
    background-color: #6be2dc;
}

.btns{
    margin-right: 0 50px;
}


.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #FE4A49;
  color: white;
  text-align: center;
}
